Search results containing entries of obsoleted RFCs should highlight that they are obsoleted

Although the search results show an obsoleted RFC's title in gray rather than black, the formatting is subtle. Perhaps it should list the obsoleting info only.

Current search results for [RFC 793](https://www.rfc-editor.org/search/rfc_search_detail.php?rfc=793&pubstatus%5B%5D=Any&pub_date_type=any) in the "More Info" column:
> [**Errata**](https://www.rfc-editor.org/errata/rfc793), Obsoletes [RFC 761](https://www.rfc-editor.org/info/rfc761), Obsoleted by [RFC 9293](https://www.rfc-editor.org/info/rfc9293), Updated by [RFC 1122](https://www.rfc-editor.org/info/rfc1122), [RFC 3168](https://www.rfc-editor.org/info/rfc3168), [RFC 6093](https://www.rfc-editor.org/info/rfc6093), [RFC 6528](https://www.rfc-editor.org/info/rfc6528)

Perhaps (if a reader wants to see the document's details, they can click the Info link):
> **Obsoleted by** [**RFC 9293**](https://www.rfc-editor.org/info/rfc9293)

OBE