errata_json_creator.php: incorrect output for RFC 6266

See https://www.rfc-editor.org/errata/eid3475:

~~~
Errata ID: [3475](https://www.rfc-editor.org/errata/eid3475)
Status: Verified
Type: Technical
Publication Format(s) : TEXT
Reported By: Saašha Metsärantala
Date Reported: 2013-02-02
Verifier Name: Barry Leiba
Date Verified: 2013-02-03

In Appendix B:

Section 2 of [RFC2183] defines several additional disposition 
parameters: "creation-date", "modification-date", "quoted-date-time",
and "size".

It should say:

Section 2 of [RFC2183] defines several additional disposition
parameters: "creation-date", "modification-date", "read-date", and 
"size".

Notes:

Section 2 of RFC 2183 defines "quoted-date-time", but it is not a disposition parameter.
~~~

The exported JSON has:

~~~
 "section": "99In Appendix B:",
~~~

(Might be a problem in the database as well)

I see similar problems in EID 1352 (and there are likely more).

The "99"s can be removed during creation of the json file.

Background: Currently, in the section field, "99" is used as a flag to indicate that the field contains data that is not simply a section number, e.g., the field contains "99In the Abstract, it says:" or "99In Appendix B:" (as in the example above). The "99" results in a different display by the web application.

There's been past discussion of a db design fix (to restructure the data around "location within the document" so it's held & used differently than the current field). However, the short-term fix is having errata_json_creator.php do the removal.

Updated script to remove 99 in section data before creating the JSON file.