Fill the empty abstract field in the db if the RFC contains an abstract

* Goal: fill the empty abstract fields in the db table for published RFCs, when possible.
* Why: improve metadata for RFC search and for various public files (info page, rfc-index.xml, JSON files). [The search page](https://www.rfc-editor.org/search) allows search by abstract content.
* Scope: 805 rows have an empty abstract field; a subset of those RFCs (123 documents) actually contain text marked as an abstract. Full list in comment below. 
* Example: RFC 2350 - the field in the db is empty (so [the info page](https://www.rfc-editor.org/info/rfc2350) has no abstract), but [the RFC itself](https://www.rfc-editor.org/rfc/rfc2350.txt) does contain an abstract.

Potential steps: extract abstract from the RFC (rfcXXXX.txt) using a script, cut leading whitespace, insert abstract into db where `doc-id`="RFCXXXX".

A pitfall if comparing to abstract field in the datatracker: Sometimes the datatracker contains the abstract of the I-D before it became an RFC. (For example, https://datatracker.ietf.org/doc/rfc5410/doc.json contains the abstract of the I-D, not the RFC.)

Not in scope at this time:
* Creating an abstract for an RFC that doesn't contain an explicitly marked "abstract". Could be a future project if there is a decision to use introductory text (e.g., RFC 793 contains introductory text, but not an "abstract").
   * For the summary RFCs ("xx99 series"), text from the 'Status of This Memo' could be used to fill the abstract field, e.g., RFC 2199: "This RFC is a slightly annotated list of the 100 RFCs from RFC 2100 through RFCs 2199.  This is a status report on these RFCs."
* Correcting existing data in the abstract fields.
  * In some cases, there may be errored text. In some historic cases, the abstract field was intentionally filled with summary text, which does not match the abstract in the document itself. For consideration: whether to replace it with the actual abstract. Examples: RFC 826, RFC 872, RFC 981.)
* Removing extraneous text from the abstract field. For older RFCs, sentences about the status were often added to the end of the abstract field. (Example: The abstract field for [RFC 1824](https://www.rfc-editor.org/info/rfc1824) contains "This memo provides information for the Internet community. This memo does not specify an Internet standard of any kind." This is not part of the actual abstract.)

Trimmed list of 123 records: [trimmed_abstract_empty.txt](https://github.com/user-attachments/files/18417560/trimmed_abstract_empty.txt)
Full list of 807 records: [empty_abstract_full_list.txt](https://github.com/user-attachments/files/18417561/empty_abstract_full_list.txt)


OBE