update script to include recent PDFs in TAR files

Regarding files available from https://www.rfc-editor.org/retrieve/bulk/
specifically PDF of "RFC 8501-latest * (which are noted as "* made available up to RFC 8649.")

Currently, PDFs after RFC 8650 are not part of the PDF bulk downloads available. They should be added, assuming a complete set of files for download of PDFs is desired. Essentially, the script should handle from RFC 8650 onward differently because those RFCs do not have .txt.pdf (in in-notes/pdfrfc/); instead they have the .pdf in in-notes. Seemingly this involves updating (or replacing) perl scripts: recreateZIPandTAR.pl and createLatestZIPandTAR.pl.

Quoting from sysdoc: **For sets of 500 files (e.g., 0501-1000)**
| output file  | script  |
| --------------- | --------------- |
| /RFCs[ppp1-qqq0].tar.gz, .zip   | recreateZIPandTAR.pl  |
| /pdfrfc[ppp1-qqq0].tar.gz, .zip  | recreateZIPandTAR.pl  |
| /RFCs[qqq1-latest].tar.gz, .zip   | createLatestZIPandTAR.pl  |
| /pdfrfc[qqq1-latest].tar.gz, .zip  | createLatestZIPandTAR.pl  |



OBE